* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  border-radius: 0.8rem;
}

html {
  height: 100%;
  width: 100vw;
}
body {
  background-color: #bbbbbb;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  height: 100%;
}
h1 {
  font-size: 3.2rem;
  text-align: center;
}
textarea {
  font-size: 1.6rem;
  width: 100%;
  padding: 1rem;
}

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #83ebc4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 100%;
  font-size: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
article > img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1.7rem;
}
.resetBtn {
  width: 49%;
}
.SubmitBtn {
  width: 49%;
}
.actionBtns {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 1rem;
  margin: 0 auto;
}
.contactsList {
  color:#332f2f;
  margin-top: 2rem;
  width: 100%;
  max-width: 80rem;
}
.contactsList > h2 {
  font-size: 2.4rem;
}

#contactForm {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  margin: 0 auto 2rem auto;
  gap:1rem;
}

#contactForm > label {
  font-size: 1.6rem;
  width: 100%;
  gap: 0.5rem;
}

#contactForm input {
  font-size: 1.6rem;
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
}